@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
* {
  box-sizing: border-box;
}


h1 {
  display: flex;
  justify-content: center;
}

.dashBoardContainer {
  width: 100%;
	display: flex;
	flex-direction: column;
}

.dashBoardContainer.dark-theme {
  background-color: #222;
}

.dashBoardContainer.light-theme {
  background-color: #f4edff;
}

.dashBoardDiv {

	display: flex;
	flex-direction: row;
	justify-content: space-around;
  margin-top:100px;
  align-items: center;
}



.dashBoardDiv h2{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dashBoardDiv.dark-theme h2 {
  color: #dedede;
}

.dashBoardDiv.light-theme h2 {
  color: #2E3C40;
}

.page-contain {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  padding-left: 10em;
  padding-right: 10em;
  padding-top: 2em;
  padding-bottom: 100px;
  font-family: 'Open Sans', sans-serif;
}

.page-contain.dark-theme {
  background: #222222;
}

.page-contain.light-theme {
  background: #f4edff
}

.data-card {
  display: flex;
  flex-direction: column;
  max-width: 20.75em;
  min-height: 20.75em;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  margin: 1em;
  padding: 2.75em 2.5em;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
}

.data-card.light-theme {
  background: #fff;
}
.data-card.dark-theme {
  background: #bbbbbb;
}

.data-card h3 {
  color: #2E3C40;
  font-size: 3.5em;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 0.5em;
  margin: 0 0 0.142857143em;
  border-bottom: 2px solid #753BBD;
  transition: color 0.45s ease, border 0.45s ease;
}

.data-card.dark-theme h3{
  color: #2E3C40;
}

.data-card h4 {
  color: #627084;
  text-transform: uppercase;
  font-size: 1.125em;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0.1em;
  margin: 0 0 1.777777778em;
  transition: color 0.45s ease;
}
.data-card p {
  opacity: 0;
  color: #FFFFFF;
  font-weight: 600;
  line-height: 1.8;
  margin: 0 0 1.25em;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
}
.data-card .link-text {
  display: block;
  color: #753BBD;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  margin: auto 0 0;
  transition: color 0.45s ease;
}
.data-card .link-text svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}
.data-card .link-text svg path {
  transition: fill 0.45s ease;
}
.data-card:hover {
  background: #753BBD;
  transform: scale(1.02);
}
.data-card:hover h3 {
  color: #FFFFFF;
  border-bottom-color: #A754C4;
}
.data-card:hover h4 {
  color: #FFFFFF;
}
.data-card:hover p {
  opacity: 1;
  transform: none;
}
.data-card:hover .link-text {
  color: #FFFFFF;
}
.data-card:hover .link-text svg {
  animation: point 1.25s infinite alternate;
}
.data-card:hover .link-text svg path {
  fill: #FFFFFF;
}
@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}

.adminFeaturesContainer *{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.MuiPaper-root.adminFeaturesContainer{
  margin-bottom: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
